<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>I like the daybreak</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav class="nav-container">
        <ul class="list-container">
            <li class="list-item">home</li>
            <li class="list-item">todo list</li>
            <li class="list-item">carousel</li>
            <li class="list-item">canvas</li>
            <li class="list-item">echart three.js d3</li>
            <li class="list-item" onclick="location.href='./lib/pages/introduce.html'">introduce</li>
        </ul>
    </nav>
    <h1 class="title_cubic">click the cubics below</h1>
    <div class="container" >
       <div class="cubic_item"></div>
       <div class="cubic_item"></div>
       <div class="cubic_item"></div>
       <div class="cubic_item"></div>
       <div class="cubic_item"></div>
       <div class="cubic_item"></div>
       <div class="cubic_item"></div>
       <div class="cubic_item"></div>
       <div class="cubic_item"></div>
       <div class="cubic_item"></div>
       <div class="cubic_item"></div>
       <div class="cubic_item"></div>
       <div class="cubic_item"></div>
       <div class="cubic_item"></div>
       <div class="cubic_item"></div>
       <div class="cubic_item"></div>
       <div class="cubic_item"></div>
       <div class="cubic_item"></div>
       <div class="cubic_item"></div>
       <div class="cubic_item"></div>
       <div class="cubic_item"></div>
       <div class="cubic_item"></div>
       <div class="cubic_item"></div>
       <div class="cubic_item"></div>
    </div>
    <div id="vue_container">
<div class="vue_content" v-for="(item,index) in language" :key="index">
    <div class="carousel" v-show="index === current">{{item}}</div>
</div>
<div class="image_container" v-for="(item,index) in images" :key="index">
<img class="image_1" v-bind:src="item" alt="error" v-show="index === active">
</div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="js/index.js"></script>
    
</body>
</html>